{% extends 'base/base.html' %}
{% block title %}
    New content : {{ object.name }}
{% endblock %}
{% block body %}
    <div class="jumbotron container">
        <div class="text-center">
            <h1>Add a new content</h1>

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </div>

        <hr>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Content title :</label>
                <input type="text" class="form-control" name="title">
            </div>

            <div class="form-group">
                <label for="description">Content short description :</label>
                <textarea name="description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="url">Content URL :</label>
                <input type="url" name="url" class="form-control">
            </div>

            <div class="form-group">
                <label for="media">Media :</label>
                <select name="media" class="custom-select">
                    {% for media in form.media.field.queryset %}
                        <option value="{{ media.id }}">{{ media.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" name="paywalled" class="form-check-input">
                <label for="paywalled">Paywalled</label>
            </div>

            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>
    </div>
{% endblock %}