{% extends 'base/base.html' %}
{% block title %}
    Content : {{ object.title }}
{% endblock %}
{% block body %}
    <div class="jumbotron container">
        <!-- Content meta infos -->
        <div class="d-flex flex-column text-center">
            <h1>
                {% include 'base/icon_content.html' %}
                {{ object.title }}
            </h1>

            <div>
                <p>
                    Url :
                    <a href="{{ object.url }}">{{ object.url }}</a>
                </p>
                <p>
                    Media :
                    <a href="{% url 'medias-get' object.media.id %}">{{ object.media.name }}</a>
                </p>
                <p>
                    Description : {{ object.description }}
                </p>
                <p>
                    Paywall : {{ object.paywalled }}
                </p>
            </div>
        </div>

        <hr>

        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Authors : </h4>
            </div>

            {% for person in object.authors.all %}
                <div class="d-flex justify-content-center">
                    {% include 'base/icon_person.html' %}
                    <a url="{% url 'persons-get' person.person.id %}">{{ person.person.name }}</a>
                </div>
            {% empty %}
                <div class="alert alert-warning text-center">
                    No authors referenced for this content.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}