{% extends 'base/base.html' %}
{% block title %}
    Contents
{% endblock %}
{% block body %}
    <div class="jumbotron container" id="app">
        <div class="text-center mb-3">
            TODO : A search & sorting form. Search by content name, sort by name (alphabetically), number of authors,
            pay wall status, media of appartenence
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Media</th>
                    <th scope="col">Paywalled</th>
                    <th scope="col">Authors</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="content in results">
                    <th>
                        <a :href="'{% url 'contents-add' %}/' + content.id">[[ content.title ]]</a>
                    </th>
                    <th>[[ content.media.name ]]</th>
                    <th>[[ content.paywalled ]]</th>
                    <th>[[ content.authors.length ]]</th>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                search: '',
                results: [],
            },
            methods: {
                get_results: function() {
                    Content.list(this.search).then(resp => {
                        this.results = resp;
                        console.log(resp);
                    });
                }
            }
        });
        app.get_results();
    </script>
{% endblock %}