{% extends 'base/base.html' %}
{% block title %}
    Moral Entities
{% endblock %}
{% block body %}
    <div class="jumbotron container" id="app">
        <div class="text-center mb-3">
            TODO : A search & sorting form. Search by entity name, sort by name (alphabetically), number of moral/media owned and number of owners.
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Entity name</th>
                    <th scope="col">Moral entity owned</th>
                    <th scope="col">Media owned</th>
                    <th scope="col">Owned by moral entities</th>
                    <th scope="col">Owned by persons</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="moral in results">
                    <th>
                        <a :href="'{% url 'morals-add' %}/' + moral.id ">[[ moral.name ]]</a>
                    </th>
                    <th>[[ moral.own_moral.length ]]</th>
                    <th>[[ moral.own_media.length ]]</th>
                    <th>[[ moral.owned_by_moral.length ]]</th>
                    <th>[[ moral.owned_by_person.length ]]</th>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                search: '',
                results: [],
            },
            methods: {
                get_results: function() {
                    Moral.list(this.search).then(resp => {
                        this.results = resp;
                    });
                }
            }
        });
        app.get_results();
    </script>

{% endblock %}