{% extends 'base/base.html' %}
{% block title %}
    Moral entity : {{ object.name }}
{% endblock %}

{% block body %}
    <div class="jumbotron container">
        <h1 class="text-center">
            {% include 'base/icon_moral.html' %}
            {{ object.name }}
        </h1>

        <hr>

        <!-- Owned by-->
        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Owned by : </h4>
            </div>

            <div class="d-flex flex-column">
                {% for moral in object.owned_by_moral.all %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_moral.html' %}
                        <a href="{% url 'morals-get' moral.owner.id %}">{{ moral.owner.name }}</a>
                    </div>
                {% endfor %}

                {% for person in object.owned_by_person.all %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_person.html' %}
                        <a href="{% url 'persons-get' person.owner.id %}">{{ person.owner.name }}</a>
                    </div>
                {% endfor %}
            </div>

            {% if object.owned_by_moral.count == 0 and object.owned_by_person.count == 0 %}
                <div class="alert alert-warning">
                    No owner defined.
                </div>
            {% endif %}
        </div>
        <!-- End owned by -->

        <hr>

        <!-- Own -->
        <div class="d-flex flex-column"><!-- Own -->
            <div class="text-center">
                <h4>Own :</h4>
            </div>

            <div class="d-flex flex-column">
                {% for moral in object.own_moral.all %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_moral.html' %}
                        <a href="{% url 'morals-get' moral.owned.id %}">{{ moral.owned.name }}</a>
                    </div>
                {% endfor %}

                {% for media in object.own_media.all %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_media.html' %}
                        <a href="{% url 'medias-get' media.id %}">{{ media.name }}</a>
                    </div>
                {% endfor %}
            </div>

            {% if object.own_moral.count == 0 and object.own_media.count == 0 %}
                <div class="alert alert-warning">
                    This moral entiry does not own anything.
                </div>
            {% endif %}
        </div><!-- End own -->
    </div>
{% endblock %}