{% load static %}
<script>
    const api_url_person="{% url 'api:person-list' %}";
    const api_url_moral="{% url 'api:moral-list' %}";
    const api_url_media="{% url 'api:media-list' %}";
    const api_url_content="{% url 'api:content-list' %}";
</script>
<script src="{% static 'api/js/api.js' %}"></script>