{% extends 'base/base.html' %}
{% block title %}
    Test JS api link
{% endblock %}
{% block body %}
    {% include 'api/api_js.html' %}

    <div class="jumbotron container d-flex flex-column" id="app">
        <div>
            <h1>Test js api link</h1>
            <div class="alert alert-danger">
                REMEMBER TO NOT USE THIS VIEW ON PRODUCTION<br>
                and to add a security for it :)
            </div>

            <button class="btn btn-primary" v-on:click="get_all();">Run a test</button>
        </div>

        <div v-for="test in tests">
            <hr>
            <h2>[[ test.name ]]</h2>

            <div v-for="test in test.tests" class="d-flex">
                <p>[[ test.name ]] : </p>
                <p class="ml-1">[[ test.value ]]</p>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                tests: []
            },
            methods: {
                set: function(t1, t2, val) {
                    for (t1n in this.tests) {
                        if (this.tests[t1n].name == t1) {
                            for (t2n in this.tests[t1n].tests) {
                                if (this.tests[t1n].tests[t2n].name == t2) {
                                    this.tests[t1n].tests[t2n].value = val;
                                }
                            }
                        }
                    }

                },
                get_all: function() {
                    this.tests = [{
                        name: 'Test the Persons API',
                        tests: [
                            {
                                name: 'Person list url',
                                value: Person.url_list()
                            }, {
                                name: 'Person get url',
                                value: Person.url_get(2)
                            }, {
                                name: 'Person list',
                                value: ''
                            }, {
                                name: "Person get 2",
                                value: ''
                            }
                        ]
                    }];

                    Person.list().then(resp => this.set("Test the Persons API", "Person list", resp));
                    Person.get(2).then(resp => this.set("Test the Persons API", "Person get 2", resp));

                }
            }
        });

        app.get_all();
    </script>


{% endblock %}