<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mediator</a>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a href="{% url 'persons-list' %}" class="nav-item nav-link">Persons</a>
            <a href="{% url 'morals-list' %}" class="nav-item nav-link">Moral entities</a>
            <a href="{% url 'medias-list' %}" class="nav-item nav-link">Medias</a>
            <a href="{% url 'contents-list' %}" class="nav-item nav-link">Contents</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add a new element
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'persons-add' %}">Add a new person</a>
                  <a class="dropdown-item" href="{% url 'morals-add' %}">Add a new moral entity</a>
                  <a class="dropdown-item" href="{% url 'medias-add' %}">Add a new media</a>
                  <a class="dropdown-item" href="{% url 'contents-add' %}">Add a new content</a>
                </div>
              </li>
        </ul>
    </div>
</nav>