{% extends 'base/base.html' %}
{% block title %}
    New person
{% endblock %}
{% block body %}
    <div class="jumbotron container">
        <div class="text-center">
            <h1>Add a new person</h1>
        </div>

        <hr>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Person full name :</label>
                <input type="text" class="form-control" name="name">
            </div>

            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>
    </div>
{% endblock %}