{% extends 'base/base.html' %}
{% block title %}
    Person : {{ object.name }}
{% endblock %}
{% block body %}
    <div class="jumbotron container">
        <h1 class="text-center">
            {% include 'base/icon_person.html' %}
            {{ object.name }}
        </h1>

        <hr>

        <!-- Moral entity owned -->
        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Moral entity owned :</h4>
            </div>

            <div clas="d-flex flex-column">
                {% for moral in object.own_moral.all %}
                    <div>
                        <div class="d-flex justify-content-center">
                            {% include 'base/icon_moral.html' %}
                            <a href="{% url 'morals-get' moral.owned.id %}">{{ moral.owned.name }}</a>
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="alert alert-warning">
                        This person does not own any moral entity.
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr>

        <!-- Media owned -->
        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Media owned :</h4>
            </div>

            <div class="d-flex flex-column">
                {% for media in object.own_media.all %}
                    <div>
                        <div class="d-flex justify-content-center">
                            {% include 'base/icon_media.html' %}
                            <a href="{% url 'medias-get' media.id %}">{{ media.name }}</a>
                        </div>

                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% empty%}
                    <div class="alert alert-warning">
                        This person does not own any media.
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Authored : </h4>
            </div>

            <div class="d-flex flex-column">
                {% for content in object.authored.all %}
                    <div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'contents-get' content.content.id %}">{{ content.content.title }}</a>
                        </div>

                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="alert alert-warning text-center">
                        This person hasn't authored any content.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}