{% extends 'base/base.html' %}
{% load leaflet_tags %}
{% block title %}
    Persons
{% endblock %}
{% block body %}
    <div class="jumbotron container" id="app">
        <div>
            <form class="d-flex flex-row justify-content-center">
                <div class="form-group-sm">
                    <input type="text" class="form-control" v-model="search">
                </div>

                <button type="button" class="btn btn-primary" :click="get_results()">Search</button>
            </form>

        </div>

        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Person name</th>
                <th scope="col">Moral entity owned</th>
                <th scope="col">Media owned</th>
                <th scope="col">Content Authored</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="person in results">
                    <th>
                        <a :href="'{% url 'persons-add' %}/' + person.id">[[ person.name ]]</a>
                    </th>
                    <th>[[ person.own_moral.length ]]</th>
                    <th>[[ person.own_media.length ]]</th>
                    <th>[[ person.authored.length ]]</th>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                search: '',
                results: [],
            },
            methods: {
                get_results: function() {
                    Person.list(this.search).then(resp => {
                        this.results = resp;
                    });
                }
            }
        });
        app.get_results();
    </script>

{% endblock %}