{% extends 'base/base.html' %}
{% block title %}
    {{ object.name }}
{% endblock %}

{% block body %}
    <div class="jumbotron container">
        <!-- Generals informations -->
        <div class="d-flex flex-column text-center">
            <h1 class="text-center">
                {% include 'base/icon_media.html' %}
                {{ object.name }}
            </h1>

            <div>
                <a href="{{ object.url }}">{{ object.url }}</a>
            </div>
        </div>
        <!-- End of generals informations -->

        <hr>

        <!-- Media owners -->
        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Owned by :</h4>
            </div>

            <div class="d-flex flex-column">
                {% if object.owned_by_moral %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_moral.html' %}
                        <a href="{% url 'morals-get' object.owned_by_moral.id %}">{{ object.owned_by_moral.name }}</a>
                    </div>
                {% endif %}

                {% if object.owned_by_person %}
                    <div class="d-flex justify-content-center mt-3">
                        {% include 'base/icon_person.html' %}
                        <a href="{% url 'persons-get' object.owned_by_person.id %}">{{ object.owned_by_person.name }}</a>
                    </div>
                {% endif %}

                {% if not object.owned_by_moral and not object.owned_by_person %}
                    <div class="alert alert-warning">
                        No owner defined
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>

        <!-- Contents -->
        <div class="d-flex flex-column">
            <div class="text-center">
                <h4>Latest contents</h4>
            </div>

            <div class="d-flex flex-column">
                {% for content in object.contents.all %}
                    <div class="d-flex justify-content-center">
                        {% include 'base/icon_content.html' %}
                        <a href="{% url 'contents-get' content.id %}">{{ content.title }}</a>
                    </div>
                {% empty %}
                    <div class="alert alert-warning">
                        No content referenced.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}