{% extends 'base/base.html' %}
{% block title %}
    Medias
{% endblock %}
{% block body %}
    <div class="jumbotron container" id="app">
        <div class="text-center mb-3">
            TODO : A search & sorting form. Search by media name, sort by name (alphabetically), number of contents, owners
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Media name</th>
                    <th scope="col">Contents</th>
                    <th scope="col">Owned by moral entities</th>
                    <th scope="col">Owned by persons</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="media in results">
                    <th>
                        <a :href="'{% url 'medias-add' %}/' + media.id ">[[ media.name ]]</a>
                    </th>
                    <!-- Add the number of contents produced by this media -->
                    <th>[[ media.owned_by_moral ]]</th>
                    <th>[[ media.owned_by_person ]]</th>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                search: '',
                results: [],
            },
            methods: {
                get_results: function() {
                    Media.list(this.search).then(resp => {
                        this.results = resp;
                    });
                }
            }
        });
        app.get_results();
    </script>
{% endblock %}