{% extends 'base/base.html' %}
{% block title %}
    New media
{% endblock %}
{% block body %}
    <div class="jumbotron container">
        <div class="text-center">
            <h1>Add a media</h1>
        </div>

        <hr>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Media name :</label>
                <input type="text" class="form-control" name="name">
            </div>

            <div class="form-group">
                <label for="url">Media URL :</label>
                <input type="url" class="form-control" name="url">
            </div>

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}

            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>
    </div>
{% endblock %}